body{
    font-family: 'Tilt Prism', cursive;
    background-color: mistyrose;
}

.header_div{
  background-color:azure;
  color: black;  
  letter-spacing: 2px;
}

.header_div p{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
}

button{
    width: 130px;
    margin-top: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    }

    .copy_right_footer{
        position: fixed;
        bottom: 0%;
        font-size: 18px;
        color:black ;
        background-color: azure;
        width: 100%;
        text-align: center;
        text-shadow: 5px 5px 5px grey;
    }